.portfolioMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolios {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfolioCard {
    cursor: pointer;
    width: 15%;
}