.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.pieChartSection {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}